body {
    background-color: #f7f7f7;
    font-family: "Open Sans";
    transition: opacity 0.5s ease-out;
}

html, body {
    height: 100%;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    border: none;
    background: none;
    background-color: rgb(200, 200, 200);
}
::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a6a6a6;
    cursor: pointer;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none;
}

* {
    outline: none;
}

@font-face {
    font-family: 'KeepCalm';
    src: url('/fonts/KeepCalm.ttf') format('truetype');
}

@font-face {
    font-family: 'AgencyFB';
    src: url('/fonts/AgencyFB-Bold.ttf') format('truetype');
}

.session-flash {
    padding: 20px;
    background-color: rgb(67, 176, 42);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
}

.error {
    background-color: #fdd !important;
}

.full-height {
    height: calc(100% - 60px);
}

// Todos modais
.modal {
    text-align: center;

    &:before {
        display: inline-block;
        vertical-align: middle;
        content: '';
        height: 100%;
    }

    .modal-dialog {
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        width: 800px;
    }
}

.page-user-login, .page-user-register {
    text-align: center;
    height: 100%;

    form {
        border: 1px solid rgb(237, 237, 237);
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 10px 17.321px 16px 4px rgba(100, 100, 100, 0.078);
        width: 538px;
        top: 50%;
        transform: translateY(-50%);
        padding: 70px;
        position: absolute;
        left: 50%;
        margin-left: -269px;

        h1 {
            font-size: 25px;
            font-family: "KeepCalm";
            color: rgb(66, 66, 66);
            margin: 0;
        }

        h2, p {
            margin: 10px 0 40px 0;
            font-size: 14.5px;
            color: rgb(150, 150, 150);

            &p {
                margin: 0;
            }
        }

        a {
            font-size: 11.6px;
            color: rgb(66, 133, 244);
        }

        .passwords {
            float: left;
            width: 100%;

            input {
                width: calc(50% - 5px);
                float: left;

                &:last-child {
                    float: right;
                }
            }
        }

        input[type=text], input[type=email], input[type=password] {
            border: none;
            border-radius: 5px;
            height: 53px;
            margin-top: 10px;
            background-color: rgb(245, 245, 245);
            box-shadow: none;
        }

        input[type=submit] {
            border-radius: 5px;
            background-color: rgb(122, 162, 244);
            height: 45px;
            font-size: 14.5px;
            color: rgb(255, 255, 255);
            font-weight: 700;
            border: none;
            margin: 20px 0;
        }
    }
}

#modal-alert {
    z-index: 9999;

    .modal-dialog {
        width: 500px;
    }

	.modal-content {
		width: 500px;
        position: relative;
        margin-left: -250px;
        left: 50%;
		padding: 30px;
        text-align: left;

		.modal-body {
			color: #7f7f7f;
			font-size: 14.5px;
			line-height: 20px;
            margin-top: 10px;

            input {
                margin: 10px 0;
                font-size: 14.5px;
                color: #000;
                border-radius: 5px;
                background-color: rgb(245, 245, 245);
                width: 100%;
                height: 40px;
                border: none;
                padding-left: 20px;
            }
		}

		.modal-footer {
			border-top: 0;
			padding-bottom: 10px;

            .btn {
				width: 100px;
				height: 40px;
				border: 0;
                font-size: 14.5px;
				color: #FFF;
                border-radius: 5px;
                font-weight: 700;
                background-color: rgb(122, 162, 244);
			}
		}

        .invalid-field {
            font-size: 14.5px;
            color: rgb(240, 108, 108);
            margin-right: 25px;
        }
	}
}

#modal-como-funciona {
    .modal-dialog {
        width: 70%;
        height: 90%;
        margin: 0;
    }

    .modal-content {
        width: 100%;
        height: 100%;
        position: relative;

        img {
            width: 100%;
            height: 100%;
        }

        .arrow {
            position: absolute;
            top: 50%;
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
            width: 50px;
            height: 50px;
            background-image: url('../img/arrow.png');

            &.prev {
                left: -70px;
                display: none;
                -webkit-transform: rotate(90deg);
                -moz-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
            }

            &.next {
                right: -70px;
                -webkit-transform: rotate(270deg);
                -moz-transform: rotate(270deg);
                -ms-transform: rotate(270deg);
                -o-transform: rotate(270deg);
                transform: rotate(270deg);
            }
        }

        .position {
            position: absolute;
            bottom: -30px;
            left: 0;
            right: 0;

            a {
                border: 2px solid #fff;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                display: inline-block;

                &.active {
                    background-color: #fff;
                }
            }
        }
    }
}

@import 'top-nav.scss';
@import 'aside-categorias.scss';
@import 'modal-trabalho-show.scss';
@import 'modal-trabalho-config.scss';
@import 'modal-usuario-config.scss';
@import 'resultados.scss';
@import 'chat.scss';
@import 'termos.scss';
@import 'recuperar-senha.scss';
@import 'errors.scss';
@import 'modal-material.scss';
