.pagina-recuperar-senha {
    background-color: #f7f7f7;

    #form-recuperar-senha {
        width: 538px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        margin-left: -269px;
        border: 1px solid rgb(237, 237, 237);
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        box-shadow: 10px 17.321px 16px 4px rgba(100, 100, 100, 0.078);
        padding: 60px 70px 40px 70px;
        text-align: center;

        h1 {
            font-size: 25px;
            font-family: "KeepCalm";
            color: rgb(66, 66, 66);
        }

        p {
            font-size: 14.5px;
            color: rgb(100, 100, 100);
            margin-bottom: 40px;
        }

        .email {
            font-size: 18.7px;
            color: rgb(150, 150, 150);
            margin-bottom: 20px;
            float: left;
            padding-left: 15px;
        }

        input[type=password] {
            font-size: 14.5px;
            color: #000;
            border-radius: 5px;
            background-color: rgb(245, 245, 245);
            width: 100%;
            height: 40px;
            float: left;
            border: none;
            margin-bottom: 10px;
            padding-left: 10px;
        }

        input[type=submit] {
            font-size: 14.5px;
            color: rgb(255, 255, 255);
            font-weight: 700;
            border-radius: 5px;
            background-color: rgb(122, 162, 244);
            width: 100%;
            height: 40px;
            float: left;
            border: none;
            margin-top: 10px;
        }

        .errors {
            float: left;
            width: 100%;
            margin-top: 20px;

            p {
                font-weight: 700;
                color: rgb(240, 108, 108);
            }
        }
    }
}
