.top-nav {
    background-color: #3f51b5;
    height: 60px;
    padding: 0;
    width: 100%;
    float: left;

    &.top-nav-simple {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        text-align: center;

        img {
            width: 160px;
            margin-top: 10px;
        }
    }

    #logo-infochat {
        float: left;
        margin: 10px 0 0 20px;

        img {
            width: 150px;
        }
    }

    #modal-busca-cidade {
        position: absolute;
        left: 0;
        top: 40px;
        border-radius: 15px;
        background-color: #fff;
        width: 100%;
        //height: 300px;
        //min-height: 300px;
        max-height: 300px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 2.5px 4.33px 16px 4px rgba(100, 100, 100, 0.118);

        ul {
            float: left;
            width: 100%;
            max-height: 300px;
            overflow: auto;

            li {
                width: 100%;
                float: left;

                &:hover {
                    background-color: rgba(255, 255, 255, .2);
                }

                a {
                    font-size: 14.5px;
                    color: rgba(100, 100, 100, 0.8);
                    padding: 10px 0 10px 30px;
                    display: block;
                    border-radius: 0 !important;
                }
            }
        }
    }

    #form-busca-cidade {
        float: left;
        width: 270px;
        display: none;
        margin: 15px 0 0 20px;
        position: relative;

        input[type=text] {
            border-radius: 15px 0 0 15px;
            background-color: rgba(255, 255, 255, 0.1);
            width: 90%;
            height: 30px;
            border: none;
            float: left;
            padding-left: 15px;
            color: #fff;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: rgba(255, 255, 255, 0.8);
                opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: rgba(255, 255, 255, 0.8);
            }

            &::-ms-input-placeholder { /* Microsoft Edge */
                color: rgba(255, 255, 255, 0.8);
            }
        }

        input[type=submit] {
            border-radius: 0 15px 15px 0;
            background-color: rgba(255, 255, 255, 0.1);
            width: 10%;
            height: 30px;
            border: none;
            float: left;
            background-size: 20px;
            background-position: left;
            background-repeat: no-repeat;
            background-image: url('../img/icon-lupa.png');
        }
    }

    .cidades {
        float: left;
        margin-left: 30px;

        .cidade-atual {
            float: left;
            padding-left: 15px;
            font-size: 16.6px;
            color: rgba(255, 255, 255, 0.8);
            position: relative;
            cursor: pointer;
            margin-top: 18px;

            &:before {
                content: "";
                position: absolute;
                width: 30px;
                height: 30px;
                top: -2px;
                left: -10px;
                background: url('../img/arrow.png');
                background-repeat: no-repeat;
                background-position: left;
                background-size: contain;
                -webkit-transform: rotate(270deg);
                -moz-transform: rotate(270deg);
                -ms-transform: rotate(270deg);
                -o-transform: rotate(270deg);
                transform: rotate(270deg);
            }

            span {
                font-weight: 700;
            }
        }
    }

    .nav-menu {
        text-align: right;
        float: right;
        height: 100%;
        margin-right: 20px;

        ul li {
            position: relative;
        }

        .open > a, .open > a:focus, .open > a:hover, .open-nav:hover, .open-nav:active, .open-nav:focus {
            background-color: transparent;
            outline: none;
        }

        .open-nav-logged {
            padding: 10px 0;

            span {
                font-size: 16.6px;
                color: rgb(255, 255, 255);
                font-weight: 700;
                margin-right: 10px;
                line-height: 2;
            }

            .img {
                width: 38px;
                height: 38px;
                border-radius: 50%;
                position: relative;
                float: right;
                margin-top: 2px;

                img {
                    float: left;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;

                    &.sem-imagem {
                        border-radius: 0;
                        padding-top: 3px;
                    }
                }
            }
        }

        .open-nav {
            padding: 10px 5px;

            img {
                width: 30px;
                filter: brightness(90%);
            }

            & + ul {
                width: 150px;

                li a {
                    padding: 10px 0 10px 20px !important;
                }
            }
        }

        .open-how-works {
            padding-right: 5px;

            & + ul {
                width: 180px;

                li a {
                    padding: 10px 0 10px 20px !important;
                }
            }
        }

        .open-nav-logged + ul li:last-child {
            border-top: 1px solid rgb(240, 240, 240);
            margin-top: 5px;
            padding-top: 8px;

            a {
                font-size: 10.8px;
                width: auto;
                padding: 8px 5px !important;
                display: inline-block;
                float: none;
                position: relative;

                &:hover {
                    background-color: transparent;
                }

                &:first-child {
                    margin-left: 5px;
                }

                &:last-child, &:nth-child(2) {
                    padding-left: 10px !important;

                    &:after {
                        content: '-';
                        position: absolute;
                        left: 0;
                        top: 6px;
                        font-size: 10.8px;
                        color: rgb(200, 200, 200);
                    }
                }
            }
        }

        .dropdown-menu {
            right: 0;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            box-shadow: 2.5px 4.33px 19px 1px rgba(100, 100, 100, 0.118);
            width: 200px;
            left: auto;
            height: auto;
            padding: 10px 0;
            top: 60px;

            li {
                width: 100%;
                float: left;
                margin: 0;
                height: auto;

                a {
                    font-size: 13.7px;
                    color: rgb(100, 100, 100);
                    width: 100%;
                    float: left;
                    padding: 10px 0 10px 40px !important;
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-position: 7%;
                    line-height: normal;

                    &.icon-conta {
                        background-image: url('../img/icon-profile.png');
                    }

                    &.icon-perfil-trabalho {
                        background-image: url('../img/icon-work.png');
                    }

                    &.icon-logout {
                        background-image: url('../img/icon-logout.png');
                    }

                    &.icon-material {
                        background-image: url('../img/icon-mega.png');
                    }
                }
            }
        }

        ul {
            li {
                display: inline-block;
                height: 60px;

                &:first-child a {
                    padding: 10px 5px 10px 10px;
                }

                &.button {
                    height: 36px;

                    a {
                        border-radius: 25px;
                        background-color: rgba(255, 255, 255, 0.1);
                        line-height: 1.2;
                        padding: 10px 15px;
                    }
                }

                a {
                    font-size: 14.5px;
                    color: #f0f0f0;
                    padding: 10px 30px;
                    text-decoration: none;
                    display: block;
                    height: 100%;
                    line-height: 3;
                }
            }
        }
    }
}
