.pagina-recuperar-senha {
    #form-recuperar-senha {
        width: 100%;
        margin-top: 30px;
        float: left;
        padding: 0 10px;
        text-align: center;

        h1 {
            font-size: 25px;
            color: rgb(66, 66, 66);
            font-weight: 700;
        }

        p {
            font-size: 14.5px;
            color: rgb(100, 100, 100);
            margin-bottom: 50px;
        }

        .email {
            float: left;
            font-size: 18.7px;
            color: rgb(150, 150, 150);
            padding-left: 15px;
            margin-bottom: 20px;
        }

        input[type=password], input[type=email], input[type=text] {
            font-size: 14.5px;
            color: #000;
            border-radius: 5px;
            background-color: rgb(245, 245, 245);
            width: 100%;
            height: 55px;
            float: left;
            border: none;
            margin-bottom: 10px;
            padding-left: 10px;
        }

        input[type=submit] {
            font-size: 14.5px;
            color: rgb(255, 255, 255);
            font-weight: 700;
            border-radius: 5px;
            background-color: rgb(122, 162, 244);
            width: 100%;
            height: 45px;
            float: left;
            border: none;
            margin-top: 10px;
        }

        .errors {
            float: left;
            width: 100%;
            margin-top: 20px;
            text-align: center;

            p {
                font-weight: 700;
                color: rgb(240, 108, 108);
            }
        }
    }
}
