.resultados {
    height: 100%;
    overflow: auto;

    .sem-resultados {
        width: 100%;
        float: left;

        p {
            font-size: 16.6px;
            color: rgb(100, 100, 100);
            line-height: 1.25;
            text-align: center;
            padding: 0 20px;
        }
    }

    .sem-perfil-trabalho {
        width: 100%;
        float: left;
        text-align: center;
        padding: 0 20px;

        p {
            font-size: 14.5px;
            color: rgb(100, 100, 100);
            line-height: 1.429;
        }

        a {
            font-size: 14.5px;
            color: rgb(122, 162, 244);
        }

        img {
            margin-bottom: 10px;
        }
    }

    .active-trabalho {
        background-color: rgba(63, 81, 181, 0.102);
    }

    .abas-resultados {
        float: left;
        width: 100%;
        margin-bottom: 15px;
        background-color: rgb(63, 81, 181);
        padding: 0 20px;

        .active {
            border-bottom: 3px solid #fff;
            box-shadow: 0.5px 0.866px 0.99px 0.01px rgba(100, 100, 100, 0.118);
        }

        a {
            font-size: 10.8px;
            color: #fff;
            line-height: 2.727;
            text-align: center;
            float: left;
            width: 33.3%;
            font-weight: 700;

            span {
                display: inline-block;
                border-radius: 50%;
                text-align: center;
                overflow: hidden;
                top: 3px;
                left: 2px;
                position: relative;
                background-color: rgb(255, 255, 255);
                width: 16px;
                height: 16px;
                font-size: 10.8px;
                color: rgb(63, 81, 181);
                line-height: 16px;
            }
        }
    }

    #form-search-results {
        width: 100%;
        float: left;
    }

    .result {
        float: left;
        width: 100%;
        position: relative;
        margin-top: 10px;

        &.work-tab .nome-tags h2 {
            margin-top: 17px;
        }

        &.result-tab .nome-tags {
            width: 100%;
        }

        &:last-child .infos {
            border-bottom: none;
        }

        .active {
            background-color: rgba(63, 81, 181, 0.102);
        }

        .manage-options {
            display: none;
        }

        .infos {
            padding-bottom: 10px;
            float: left;
            width: calc(100% - 68px);
            position: relative;
            border-bottom: 1px solid rgba(100, 100, 100, 0.149);
            min-height: 60px;
        }

        .imagem {
            width: 48px;
            height: 48px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(230, 230, 230);
            border-radius: 5px;
            position: relative;
            float: left;
            margin: 0 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;

                &.sem-imagem {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin: -15px 0 0 -15px;
                }
            }
        }

        .nome-tags {
            float: left;
            width: calc(100% - 100px);
            padding-right: 10px;

            h2 {
                font-size: 14.5px;
                color: #000;
                margin: 5px 0 0 0;
                float: left;
                width: 100%;
                height: 20px;
                overflow: hidden;

                &.usuario {
                    margin-top: 30px;
                }
            }

            .tags {
                width: 100%;
                height: 20px;
                float: left;
                overflow: hidden;
                margin-bottom: 5px;

                p {
                    font-size: 12.5px;
                    color: rgb(100, 100, 100);
                    display: inline-block;

                    &:first-child span {
                        display: none;
                    }
                }
            }
        }

        .status {
            float: left;
            width: 100px;
            text-align: right;
            padding-right: 10px;

            .date {
                font-size: 10.8px;
                color: rgb(100, 100, 100);
                display: block;
                margin-bottom: 5px;
            }

            .new-messages {
                display: inline-block;
                font-size: 12.5px;
                color: rgb(255, 255, 255);
                border-radius: 50%;
                background-color: rgb(132, 206, 111);
                width: 20px;
                height: 20px;
                text-align: center;
                overflow: hidden;
                line-height: 20px;
            }

            .status-block, .status-close {
                width: 16px;
                height: 16px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                display: inline-block;
            }

            .status-block {
                background-image: url('../../img/icon-block2.png');
            }

            .status-close {
                background-image: url('../../img/icon-close2.png');
            }
        }
    }
}
