.resultados {
    height: 100%;
    overflow: auto;
    position: relative;

    .sem-resultados {
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        p {
            font-size: 14.5px;
            color: rgb(100, 100, 100);
            line-height: 1.25;
            padding: 0 20px;
        }

        a {
            font-size: 14.5px;
            color: rgb(122, 162, 244);
        }

        img {
            margin-bottom: 10px;
        }
    }

    .active-trabalho {
        background-color: rgba(63, 81, 181, 0.102);
    }

    .abas-resultados {
        float: left;
        width: 100%;
        margin-bottom: 15px;
        background-color: rgb(63, 81, 181);
        padding: 0 20px;
        text-align: center;

        .active {
            border-bottom: 3px solid #fff;
            box-shadow: 0.5px 0.866px 0.99px 0.01px rgba(100, 100, 100, 0.118);
            color: #fff;
        }

        a {
            font-size: 10.8px;
            line-height: 2.727;
            text-align: center;
            display: inline-block;
            font-weight: 700;
            color: rgba(255, 255, 255, 0.502);
            padding: 0 15px;
            margin-left: 10px;

            &:first-child {
                margin-left: 0;
            }

            span {
                display: inline-block;
                border-radius: 50%;
                text-align: center;
                overflow: hidden;
                top: 3px;
                left: 2px;
                position: relative;
                background-color: rgb(255, 255, 255);
                width: 16px;
                height: 16px;
                font-size: 10.8px;
                color: rgb(63, 81, 181);
                line-height: 16px;
            }
        }
    }

    .info-results {
        float: left;
        width: 100%;
        padding-left: 10px;
        position: relative;
        margin-top: 10px;

        .show-info-description {
            font-size: 12.5px;
            color: #969696;
            float: left;
            background-image: url('../../img/icon-como-funciona.png');
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
            filter: brightness(60%);
            padding-right: 23px;
            cursor: pointer;
        }

        .info-description {
            position: absolute;
            left: 2.5%;
            top: 25px;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            box-shadow: 1px 1.732px 14.25px 0.75px rgba(100, 100, 100, 0.118);
            width: 95%;
            z-index: 2;
            padding: 10px;

            p {
                font-size: 13.5px;
                color: #969696;
                line-height: 1.5;
                margin: 0;

                span {
                    display: block;

                    &:first-child {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }

    #form-search-results {
        width: 100%;
        float: left;
    }

    .load-more-results {
        border: 1px solid rgb(237, 237, 237);
        border-left: none;
        border-right: none;
        background-color: rgb(250, 250, 250);
        width: 100%;
        height: 38px;
        float: left;
        font-size: 12.5px;
        color: rgb(50, 50, 50);
        line-height: 38px;
        text-align: center;

        span {
            font-size: 16px;
        }
    }

    .result {
        float: left;
        width: 100%;
        position: relative;
        margin-bottom: 10px;

        &.work-tab .nome-tags h2 {
            margin-top: 17px;
        }

        &.result-tab .nome-tags {
            width: 100%;
        }

        &:first-child .infos {
            border-top: none;
        }

        .active {
            background-color: rgba(63, 81, 181, 0.102);
        }

        .manage-options {
            display: none;
        }

        .infos {
            float: left;
            width: calc(100% - 68px);
            position: relative;
            border-top: 1px solid rgba(100, 100, 100, 0.149);
            min-height: 60px;
            padding-top: 10px;
        }

        .imagem {
            width: 48px;
            height: 48px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(230, 230, 230);
            border-radius: 5px;
            position: relative;
            float: left;
            margin: 10px 10px 0 10px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;

                &.sem-imagem {
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin: -15px 0 0 -15px;
                }
            }
        }

        .nome-tags {
            float: left;
            width: calc(100% - 100px);
            padding-right: 10px;

            h3 {
                font-size: 14.5px;
                color: #000;
                margin: 5px 0 0 0;
                float: left;
                width: 100%;
                height: 18px;
                overflow: hidden;

                &.usuario {
                    margin-top: 30px;
                }

                a {
                    color: #000;
                }
            }

            .tags {
                width: 100%;
                height: 20px;
                float: left;
                overflow: hidden;
                margin-bottom: 5px;

                p {
                    font-size: 12.5px;
                    color: rgb(100, 100, 100);
                    display: inline-block;

                    &:first-child span {
                        display: none;
                    }
                }
            }
        }

        .status {
            float: left;
            width: 100px;
            text-align: right;
            padding-right: 10px;

            .date {
                font-size: 10.8px;
                color: rgb(100, 100, 100);
                display: block;
                margin-bottom: 5px;
            }

            .new-messages {
                display: inline-block;
                font-size: 12.5px;
                color: rgb(255, 255, 255);
                border-radius: 50%;
                background-color: rgb(132, 206, 111);
                width: 20px;
                height: 20px;
                text-align: center;
                overflow: hidden;
                line-height: 20px;
            }

            .status-block, .status-close {
                width: 16px;
                height: 16px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                display: inline-block;
            }

            .status-block {
                background-image: url('../../img/icon-block2.png');
            }

            .status-close {
                background-image: url('../../img/icon-close2.png');
            }
        }
    }
}
