.page-slider {
    background-color: #212f7e;

    .animate {
        transition: transform 0.3s ease-out;
    }

    .slider {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .ms-touch.slider {
        overflow-x: scroll;
        overflow-y: hidden;
        -ms-overflow-style: none;
        /* Hides the scrollbar. */
        -ms-scroll-chaining: none;
        /* Prevents Metro from swiping to the next tab or app. */
        -ms-scroll-snap-type: mandatory;
        /* Forces a snap scroll behavior on your images. */
        -ms-scroll-snap-points-x: snapInterval(0%, 100%);
        /* Defines the y and x intervals to snap to when scrolling. */
    }

    .holder {
        width: 704.2%;
        max-height: 100%;
        height: 100%;
        overflow-y: hidden;
    }

    .slide-wrapper {
        width: 14.2%;
        height: 100%;
        float: left;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;

        img {
            position: absolute;
            bottom: 0;
            max-width: 100%;
            max-height: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &.page-about {
        background-color: #fff;

        .holder {
            width: 500% !important;
        }

        .slide-wrapper {
            width: 20% !important;
        }
    }
}
