.active-manage {
    background-color: rgb(92, 107, 192) !important;
}

.top-nav {
    background-color: rgb(63, 81, 181);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 2.5px 4.33px 14.25px 0.75px rgba(100, 100, 100, 0.078);
    z-index: 99;
    height: 53px;
    padding-top: 13px;

    &.top-simple {
        .nav_title {
            font-size: 16.6px;
            color: rgb(255, 255, 255);
            float: left;
            margin-top: 2px;
        }

        .link-back {
            width: 25px;
            height: 25px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../../img/arrow2.png');
            filter: brightness(0) invert(1);
            float: left;
            margin: 0 10px;
        }
    }

    #logo-infochat {
        width: 100px;
        float: left;
        margin-left: 15px;
    }

    .close-content {
        width: 45px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../../img/arrow2.png');
        filter: brightness(0) invert(1);
        float: left;
    }

    .manage-options {
        .options {
            float: right;

            a {
                width: 45px;
                height: 25px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                float: left;

                &#work-details {
                    background-image: url('../../img/icon-profile3.png');
                }

                &#close-chat {
                    background-image: url('../../img/icon-close2.png');
                    filter: brightness(0) invert(1);
                }

                &#open-chat {
                    background-image: url('../../img/icon-open2.png');
                }

                &#delete-chat {
                    background-image: url('../../img/icon-delete.png');
                }

                &#block-user {
                    background-image: url('../../img/icon-block2.png');
                    filter: brightness(0) invert(1);
                }

                &#unblock-user {
                    background-image: url('../../img/icon-unblock2.png');
                }
            }
        }
    }

    #form-search {
        width: 100%;
        display: none;
        float: left;
        padding: 0 10px;

        input[type=text] {
            border: none;
            outline: none;
            box-shadow: none;
            background-color: transparent;
            color: #fff;
            width: calc(100% - 25px);

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #fff;
                opacity: 1; /* Firefox */
            }
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #fff;
            }
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: #fff;
            }
        }

        .close-form-search {
            width: 25px;
            height: 25px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url('../../img/arrow2.png');
            filter: brightness(0) invert(1);
            float: left;
            margin-top: 5px;
        }
    }

    #open-search, #open-menu {
        float: right;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 25px;
        height: 25px;
        margin: 0 10px;

        &#open-search {
            background-image: url('../../img/icon-lupa.png');
            filter: brightness(0) invert(1);
        }

        &#open-menu {
            background-image: url('../../img/menu.png');

            &.logged {
                border-radius: 50%;
                background-image: url('../../img/icon-profile2.png');
            }
        }
    }

    nav {
        float: right;
        position: relative;

        ul {
            display: none;
            right: 10px;
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            box-shadow: 2.5px 4.33px 19px 1px rgba(100, 100, 100, 0.118);
            width: 200px;
            left: auto;
            float: left;
            padding-top: 10px;
            top: 0;
            position: absolute;
            z-index: 2;

            li {
                width: 100%;
                float: left;
                margin: 0;
                height: auto;

                a {
                    font-size: 13.7px;
                    color: rgb(100, 100, 100);
                    width: 100%;
                    float: left;
                    padding: 10px 0 10px 40px;
                    background-size: 20px;
                    background-repeat: no-repeat;
                    background-position: 7%;
                    line-height: normal;

                    &.icon-conta {
                        background-image: url('../../img/icon-settings.png');
                    }

                    &.icon-perfil-trabalho {
                        background-image: url('../../img/icon-work.png');
                    }

                    &.icon-logout {
                        background-image: url('../../img/icon-logout.png');
                    }

                    &.icon-como-funciona {
                        background-image: url('../../img/icon-como-funciona.png');
                    }

                    &.icon-cadastro {
                        background-image: url('../../img/icon-cadastro.png');
                    }

                    &.icon-login {
                        background-image: url('../../img/icon-login.png');
                    }

                    &.icon-categorias {
                        background-image: url('../../img/icon-categorias.png');
                    }

                    &.icon-cidades {
                        background-image: url('../../img/icon-map.png');
                        background-size: 25px;
                    }
                }

                &.termos {
                    border-top: 1px solid rgb(240, 240, 240);
                    text-align: center;
                    margin-top: 7px;

                    a {
                        font-size: 10.8px;
                        color: rgb(150, 150, 150);
                        width: auto;
                        padding: 15px 3px;
                        clear: inherit;

                        &:first-child {
                            margin-left: 12px;
                        }
                    }

                    span {
                        float: left;
                        margin: 12px 4px 0 4px;
                        color: rgb(150, 150, 150);
                    }
                }
            }
        }
    }
}
